<mat-card>
    <mat-card-title>Wilks Calculator</mat-card-title>
    <mat-card-content>
        <p class="description">Calculates your wilks score.</p>
        <form [formGroup]="form" (keyup.enter)="calculate()">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <mat-form-field>
                            <mat-select placeholder="Units" formControlName="unit">
                                <mat-option *ngFor="let unit of wilksCalc?.units" value="unit">{{
                                    unit
                                }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field>
                            <mat-select placeholder="Sex" formControlName="sex">
                                <mat-option *ngFor="let sex of wilksCalc?.sexes" value="sex">{{
                                    sex
                                }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field>
                            <input
                                class="right-align"
                                required
                                type="number"
                                matInput
                                placeholder="Bodyweight"
                                formControlName="bodyweight"
                            />
                            <span class="number-suffix" matSuffix>{{ currentUnitSuffix }}</span>
                            <mat-error *ngIf="form.controls['bodyweight'].invalid"></mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <p class="description">
                Enter your best numbers for back squat, bench press and deadlift. If you enter more
                than one repetition, your estimated 1RM will be used.
            </p>
            <div class="row">
                <div class="col-12">
                    <mat-card-subtitle><em>S</em>quat</mat-card-subtitle>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <mat-form-field>
                        <input
                            required
                            type="number"
                            matInput
                            placeholder="Repetitions"
                            formControlName="squatReps"
                        />
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <input
                            class="right-align"
                            required
                            type="number"
                            matInput
                            placeholder="Weight"
                            formControlName="squatWeight"
                        />
                        <span class="number-suffix" matSuffix>{{ currentUnitSuffix }}</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-card-subtitle><em>B</em>ench Press</mat-card-subtitle>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field>
                        <input
                            required
                            type="number"
                            matInput
                            placeholder="Repetitions"
                            formControlName="benchReps"
                        />
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <input
                            class="right-align"
                            required
                            type="number"
                            matInput
                            placeholder="Weight"
                            formControlName="benchWeight"
                        />
                        <span class="number-suffix" matSuffix>{{ currentUnitSuffix }}</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-card-subtitle><em>D</em>eadlift</mat-card-subtitle>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field>
                        <input
                            required
                            type="number"
                            matInput
                            placeholder="Repetitions"
                            formControlName="deadliftReps"
                        />
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <input
                            class="right-align"
                            required
                            type="number"
                            matInput
                            placeholder="Weight"
                            formControlName="deadliftWeight"
                        />
                        <span class="number-suffix" matSuffix>{{ currentUnitSuffix }}</span>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="calculate()">Calculate</button>
    </mat-card-actions>
</mat-card>
<mat-card *ngIf="isCalculated">
    <mat-card-content>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <mat-card-subtitle>Wilks</mat-card-subtitle>
                </div>
                <div class="col-6">
                    <mat-card-subtitle>Powerlifting Total</mat-card-subtitle>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <span class="big-text">{{ this.wilksNumber }}</span>
                </div>
                <div class="col-6">
                    <span class="big-text">{{ this.powerliftingTotal }}</span>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
