@import 'variables';

.mat-form-field {
    display: initial;
}

.container-fluid {
    padding: 0;
}

td,
th {
    vertical-align: middle;
}

p {
    line-height: 1.5;
}

input[type='number'] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    -moz-appearance: textfield;
}

.right-align {
    text-align: right;
}

.big-text {
    color: $skoll-primary;
    margin-bottom: 16px;
    margin-top: 8px;
    font-size: 40px;
    font-weight: 600;
    display: block;
}

mat-card + mat-card {
    margin-top: 16px;
}

em {
    color: $skoll-primary;
    font-size: 16px;
    font-weight: 500;
}

.mat-card-actions .mat-raised-button {
    margin-bottom: 8px;
    &:first-child {
        margin-left: 8px;
    }
}

.number-suffix {
    padding-left: 8px;
}
