@import 'variables';

input[type='number'] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    -moz-appearance: textfield;
}

mat-card + mat-card {
    margin-top: 16px;
}

table {
    width: 100%;
}

.mat-column-weight {
    text-align: right;
    color: $skoll-primary;
}

.big-text {
    color: $skoll-primary;
    margin-bottom: 16px;
    margin-top: 8px;
    font-size: 32px;
    display: block;
}
