<div class="chart">
    <canvas #skollchart></canvas>
</div>

<!-- <table mat-table [dataSource]="this.weight$" class="mat-elevation-z8">
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
    </ng-container>
    <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight</th>
        <td mat-cell *matCellDef="let element">{{ element.weight }} kg</td>
    </ng-container>
    <ng-container matColumnDef="trendWeight">
        <th mat-header-cell *matHeaderCellDef>Trend</th>
        <td mat-cell *matCellDef="let element">{{ element.trendWeight }} kg</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table> -->

<input type="file" id="file" (change)="handleFileInput($event.target.files)" />
<button class="cool-button" mat-fab color="primary" aria-label="add" (click)="openAddDialog()">
    <mat-icon>add</mat-icon>
</button>
