.fill-remaining-space {
    flex: 1 1 auto;
}

.menu-button {
    margin-right: 8px;
}

.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

mat-sidenav {
    width: 15vw;
}

.is-mobile mat-sidenav {
    width: 75vw;
}

mat-sidenav-content {
    padding: 16px;
}

.sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.mat-list-item .mat-icon {
    margin-right: 32px;
}
.welcome-message {
    display: flex;
    align-items: center;
    margin: 12px;
    margin-left: 16px;
    height: 48px;
    line-height: 1.5;
}
