<div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="mat-elevation-z6 toolbar">
        <button mat-icon-button class="menu-button" (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Skoll Strength</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <mat-sidenav-container
        class="sidenav-container"
        [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
    >
        <mat-sidenav
            #snav
            [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56"
        >
            <mat-nav-list>
                <a
                    mat-list-item
                    *ngFor="let link of Mainlinks"
                    [routerLink]="link.target"
                    (click)="snav.close()"
                >
                    <mat-icon>{{ link.icon }}</mat-icon>
                    {{ link.label }}</a
                >
                <mat-divider></mat-divider>
                <a
                    mat-list-item
                    *ngFor="let optionLink of optionLinks"
                    [routerLink]="optionLink.target"
                    (click)="snav.close()"
                >
                    <mat-icon>{{ optionLink.icon }}</mat-icon>

                    {{ optionLink.label }}</a
                >
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content> <router-outlet></router-outlet> </mat-sidenav-content>
    </mat-sidenav-container>
</div>
